*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**header**/

header{
    background-color: #364037;
    height: 5.25rem;
    width: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12.5rem;
    padding-top: 1.5625rem;
    list-style: none;
}
.navbar li a{
    margin-left: .3125rem;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color:#FFFEFB
}
.navbar li a:hover{
    color: #6D8B74;
}
.hamburger-icon{
    display: none;
}
.logo-responsive{
    display: none;
}
.logoImage{
    position: absolute;
    left: 6.25rem;
    align-items: center;
    height: 1.875rem;
}
.chevron{
    width: 1.1875rem;
    height: 1.1875rem;
    margin-right: .9375rem;
    margin-top: .375rem;
}

.login{
    right: 120px;
    font-family: 'Lato', sans-serif;
    text-align: right;
    text-decoration: none;
    color:#FFFEFB
}

@media(max-width: 1024px){
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 3.75rem;
        padding-top: 1.5625rem;
        list-style: none;
    }
}

@media(max-width: 768px){
    header{
    display: flex;
    justify-content: flex-end;
    height: 4.375rem;
    width: 100%;
    }
    .navbar{
        align-items: center;
        margin-right: 1.875rem;
        padding-top: 1.125rem;
    }
    .navbar li a{
        display: none;
    }
    .logo-header{
        display: block;
    }
    .login{
        display: none;
    }
    .hamburger-icon{
        align-items: center;
        display: block;
        margin-right: 5rem;
        margin-top: 1.25rem;
    }
    .hamburger-icon img{
        width: 1.875rem;
    }
    }

/**Home**/

.sectionOne{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFFEFB;
    padding: 6.25rem;
}
.sectionOne h1{
    margin-bottom: 2.875rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #4B594D;
}
.sectionOne h1 span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #6D8B74;
}
.sectionOne p{
    width: 37.75rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: #4B594D;
    letter-spacing: .125rem;
}
.sectionOne button{
    background-color: #6D8B74;
    padding: .75rem 2.1875rem;
    margin: 4rem;
    border: none;
    border-radius: 3.75rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sectionOne button:hover{
    background-color: #4B594D;
}
.sectionOne button a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .125rem;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}
.sectionTwo{
    background-color: #EFEAD8;
    width: 100%;
}
.imagesSectionTwo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.carousel-inner{
    width: 31.25rem;
    margin: 0 auto;
}
.sectionTwo img{
    width: 357px;
    margin-top: 5.625rem;
}
.carousel-control-next-icon {
    background-color: #4B594D;
    border-radius: 1.25rem;
}
.carousel-control-prev-icon {
    background-color: #4B594D;
    border-radius: 1.25rem;
}
.textSectionTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionTwo h2{
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #4B594D;
}
.sectionTwo h2 span{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #6D8B74;
}
.sectionTwo p{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: .0625rem;
    color: #4B594D;
    padding-left: 13.625rem;
    padding-right: 13.625rem;
    margin-bottom: 3.4375rem;
}
.sectionThree{
    background-color: #FFFEFB;
    padding-left: 7.75rem;
    padding-right: 7.75rem;
}
.solutionsHome {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #4B594D;
}
.descriptionSectionThree{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sectionThree p{
    width: 27.125rem;
    text-align: right;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: .0625rem;
    line-height: 3.125rem;
    color: #4B594D;
    padding-bottom: 5rem;
}
.plantPhone{
    margin-bottom: 6.5625rem;
    width: 28.5625rem;
    height: 28.5625rem;
    border-radius: .9375rem;
    box-shadow: 0rem .25rem .25rem 0rem #afafaf
}
.sectionFour{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEAD8;
    text-align: center;
}
.leafOne{
    width: 22.5rem;
    height: 12.5rem;
}
.leafTwo{
    width: 22.5rem;
    height: 12.5rem;
}
.sectionFour h2{
    margin-top: 3.125rem;
    margin-bottom: 2.9375rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #4B594D;
}
.sectionFour button{
    background-color: #6D8B74;
    padding: .9375rem 1.875rem;
    border: none;
    border-radius: 3.75rem;
    box-shadow: 0rem .25rem .25rem 0rem #afafaf;
    margin-bottom: 3.125rem;

}
.sectionFour button:hover{
    background-color: #4B594D;
}
.sectionFour button a {
    text-decoration: none;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

@media(max-width: 768px){
    .sectionOne p{
        width: 5rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5625rem;
        letter-spacing: .05rem;
    }
    .sectionTwo img{
        width: 7.9375rem;
        margin-top: 2.5rem;
    }
    .sectionTwo h2{
        margin-top: 4.375rem;
        margin-bottom: 1.875rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: .075rem;
    }
    .sectionTwo h2 span{
        font-weight: 500;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: .075rem;
    }
    .sectionTwo p{
        font-weight: 300;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5625rem; /* 156.25% */
        letter-spacing: .05rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-bottom: 2.5rem;
    }
    .sectionFour h2{
        font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    letter-spacing: .1437rem;
    }
    .leafOne{
        width: 15.625rem;
        height: 8.625rem;
    }
    .leafTwo{
        width: 15.625rem;
        height: 8.625rem;
    }
    sectionOne h1{
    margin-bottom: 2.875rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #4B594D;
}
.sectionOne h1 span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #6D8B74;
}
.sectionOne p{
    width: 37.75rem;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: #4B594D;
    letter-spacing: .125rem;
}
.sectionOne button{
    background-color: #6D8B74;
    padding: .75rem 2.1875rem;
    margin: 4rem;
    border: none;
    border-radius: 3.75rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sectionOne button:hover{
    background-color: #4B594D;
}
.sectionOne button a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .125rem;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}
}

@media(max-width: 320px){
    .sectionOne{
        padding: 1.5625rem;
    }
    .sectionOne h1{
        margin-bottom: 1.875rem;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; 
        letter-spacing: .0875rem;
    }
    .sectionOne h1 span{
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; 
        letter-spacing: .0875rem;
    }
    .sectionOne p{
        width: 14.875rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5625rem;
        letter-spacing: .05rem;
    }
    .sectionOne button{
        padding: .5rem 1.25rem;
        margin: 1.875rem;
    }
    .sectionOne button a {
        font-weight: 500;
        letter-spacing: .125rem;
        font-size: 1rem;
    }
    .sectionTwo{
        background-color: #EFEAD8;
        width: 100%;
    }
    .imagesSectionTwo{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .carousel-inner{
        width: 18.75rem;
        margin: 0 auto;
    }
    .sectionTwo img{
        width: 7.9375rem;
        margin-top: 5.625rem;
    }
    .sectionTwo h2{
        margin-top: 4.375rem;
        margin-bottom: 1.875rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: .075rem;
    }
    .sectionTwo h2 span{
        font-weight: 500;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: .075rem;
    }
    .sectionTwo p{
        font-weight: 300;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5625rem; /* 156.25% */
        letter-spacing: .05rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-bottom: 2.5rem;
    }
    .sectionThree{
        background-color: #FFFEFB;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .solutionsHome {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-weight: 500;
        font-size: 1.25rem;
    }
    .descriptionSectionThree{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .sectionThree p{
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        font-weight: 500;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5625rem;
        letter-spacing: .05rem;
    }
    .plantPhone{
        margin-bottom: 2.5rem;
        width: 13.625rem;
        height: 13.625rem;
    }
    .sectionFour{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionFour h2{
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; 
        letter-spacing: .0875rem;
    }
}


/**Sign Up**/

.signup{
    height: 8.75rem;
    text-align: center;
}
.signup img{
    width: 17.8125rem;
    padding-top: 2.5rem;
}
.form{
    height: 46.875rem;
    background-color: #364037;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-color: #364037;
}
.form h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-weight: 500;
    font-size: 3.75rem;
    color: #FFFEFB;
    margin-bottom: 3.75rem;
}
.form p{
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    color: #FFFEFB;
}
.form input{
    margin-bottom: 1.25rem;
    color: #666666;
    border: none;
    text-indent: .625rem;
    width: 25rem;
    height: 2.5rem;
    border-radius: .625rem;
}
footer p{
    color: FFFEFB;
    font-family: 'Merriweather', serif;
}
.submitSignUp{
    margin-top: 1.25rem;
    margin-bottom: .625rem;
}
.footerSignup{
    background-color: #364037;
}

/**Guides**/

.sectionGuideOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFEFB;
    text-align: center;
}
.sectionGuideOne h1{
    margin-top: 6.25rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #4B594D;
}
.sectionGuideOne h1 span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #6D8B74;
}
.sectionGuideOne p{    
    width: 685px;
    margin-top: 3.6875rem;
    margin-bottom: 4.875rem;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #4B594D;
    letter-spacing: .125rem;
}
.sectionGuideTwo{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 7.5rem;
    padding-right: 7.5rem;

}
.card{
    width: 22.5rem;
    height: 337px;
    background-color: #FCECD5;
    border-radius: 3.125rem 3.125rem 0rem 0rem;
    margin-bottom: 12.5rem
}
.card img{
    margin-left: 2.25rem;
    width: 80%;
    margin-top: 2.8125rem;
    border-radius: 3.125rem 3.125rem 0rem 0rem;
}
.card-content{
    height: 8.5rem;
    width: 22.5rem;
    background-color: #6D8B74;
    border-radius: 0rem 0rem 3.125rem 3.125rem;
    text-align: center;
    box-shadow: 0rem .25rem .25rem 0rem rgba(0, 0, 0, 0.25);
}
.card-content p {
    padding: .8125rem 3.375rem;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: .875rem;
    color: #EFEAD8;
}
.sectionGuideTwo h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: #EFEAD8;
    padding-top: .8125rem;
}

.sectionGuideThree{
    display: flex;
    justify-content: space-between;
    background-color: #364037;
    padding-left: 7.75rem;
}
.sectionGuideThree h2{
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #FFFEFB;
    padding-top: 7.8125rem;
}
.sectionGuideThree button{
    margin-top: 3.125rem;
    margin-bottom: 5.9375rem;
    background-color: #EFEAD8;
    padding: .9375rem 2.1875rem;
    border: none;
    border-radius: 3.75rem;
    box-shadow: 0rem .25rem .25rem 0rem rgba(0, 0, 0, 0.25);
}
.sectionGuideThree button a {
    text-decoration: none;
    color: #6D8B74;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}
.laptop-cards {
    margin-top: 3.8125rem;
    margin-right: 7.5rem;
    width: 21.875rem;
    border-radius: .9375rem;
    box-shadow: 0rem .25rem .25rem 0rem #1f1f1f
}

/**Community**/

.sectionCommOne{
    background: #FFFEFB;
}
.welcomComm{
    display: flex;
    justify-content: space-between;
    padding-right: 11.25rem;
    padding-left: 13.5rem;
    align-items: center;
    margin-bottom: 2.5rem;
}
.sectionCommOne h1{
    margin-bottom: 2.875rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #4B594D;
    text-align: left;
}
.sectionCommOne h1 span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #6D8B74;
    text-align: left;
}
.sectionCommOne img{
    height: 100%;
    width: 32.0625rem;
}
.search-bar{
    display: flex;
    justify-content: center;
    text-align: center;
}
.search-bar form{
    position: relative;
}
.search-bar img{
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    left: 35px;
    top: 1.5625rem;
}
.search-bar input{
    padding-left: 1.875rem;
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    border: 5px solid #6D8B74;
    text-indent: 2rem;
    width: 32rem;
    height: 4.4375rem;
    border-radius: 2.3rem;
}
.search-bar input:focus{
    border: 5px solid #4B594D;
}
.sectionCommTwo{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 21.25rem 21.25rem;
    grid-template-areas:
    "blog-card1 blog-card2 blog-card3"
    "blog-card4 blog-card5 blog-card6"
    ;
    column-gap: 4.375rem;
    row-gap: 7.5rem;
    justify-content: center;
    margin-top: 8rem;
    background: #FFFEFB;
    padding-left: 7.5rem;    
    padding-right: 7.5rem;

}
.blog-card img{
    width: 21.875rem;
}
.blog-card-content{
    display: flex;
    align-items: center;
    color: #364037;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: .0625rem;
    text-indent: 0;
    margin-top: 1.5625rem;
}
.blog-card-content img{
    padding-right: 1.25rem;
    width: 4.5rem;
}
.sectionCommThree{
    background: #EFEAD8;
    margin-top: 6.8125rem;
}
.sectionCommThree h2{
    padding-top: 7.25rem;
    color: #364037;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .1rem;
}
.sectionCommThree span{
    color: #6D8B74;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .1rem;
}
.webinar{
    padding-bottom: 6.25rem;
}
.webinar-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3.75rem;
    height: 8.75rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-top: 3.625rem;
    background-color: #364037;
    border-radius: .625rem;
    box-shadow: 0rem .25rem .25rem 0rem #1f1f1f;
}
.webinar-card img{
    margin-left: 1.75rem;
    width: 5.3125rem;
    height: 5.3125rem;
    border-radius: .5625rem;
}
.webinar-card h3{
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .1rem;
    display: inline;
}
.webinar-card p{
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .075rem;
    padding: 5px;
}
.sectionCommFour{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFEFB;
}
.sectionCommFour h2{
    padding-top: 5.625rem;
    color: #4B594D;
    font-family: 'Lato', sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 6.25rem;
    letter-spacing: .1875rem;
    text-align: center;
    padding-top: 5.625rem;
}
.sectionCommFour span{
    color: #6D8B74;
    font-family: 'Lato', sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 6.25rem;
    letter-spacing: .1875rem;
}
.sectionCommFour input{
    margin-top: 5.375rem;
    border: .3125rem solid #6D8B74;
    height: 4.4375rem;
    border-radius: 2.875rem;
    margin-bottom: 6.25rem;
}
.email-input{
    width: 39.5rem;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: .075rem;
    text-indent: 1.875rem;
    box-shadow: 0rem .25rem .25rem 0rem #898989;
}
.sectionCommFour form{
    position: relative;
}
.send-input{
    position: absolute;
    right: 5px;
    width: 9.25rem;
    border: .3125rem solid #6D8B74;
    background-color: #6D8B74;
    box-shadow: 0rem .25rem .25rem 0rem #898989;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .075rem;
    text-align: center;
}


@media(max-width: 768px){
    .welcomComm{
        display: flex;
        justify-content: space-between;
        padding-right: 3.125rem;
        padding-left: 3.125rem;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    .sectionCommOne{
        margin-top: 1.25rem;
    }
    .sectionCommOne h1{
        margin-top: 3.4375rem;
        font-size: 2.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: .1437rem;
    }
    .sectionCommOne h1 span{
        font-size: 2.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: .1437rem;
    }
    .sectionCommOne img{
        height: 100%;
        width: 20.875rem;
    }
    .search-bar input{
        font-weight: 400;
        font-size: 1.125rem;
        padding-left: 20px;
        font-size: 1.25rem;
        border: 4px solid #6D8B74;
        text-indent: 2rem;
        width: 25.3125rem;
        height: 3.125rem;
        border-radius: 2.3rem;
    }
    .search-bar img{
        width: .9375rem;
        height: .9375rem;
        position: absolute;
        left: 30px;
        top: 18px;
    }
    .sectionCommTwo{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(3, 22.0625rem);
    grid-template-areas:
    "blog-card1 blog-card2"
    "blog-card3 blog-card4"
    "blog-card5 blog-card6"
    ;
    column-gap: 4.0625rem;
    row-gap: 0;
    padding-left: 3.125rem;    
    padding-right: 3.125rem;
}
.blog-card img{
    width: 18.125rem;
}
.blog-card-content{
    display: flex;
    justify-content: center;
}
.blog-card-content img{
    width: 3.75rem;
}
.blog-card-content p{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: .0437rem;
}
.sectionCommThree{
    margin-top: 3.125rem;
}
.webinar{
    padding-bottom: 3.125rem;
}
.webinar-card{
    display: flex;
    flex-direction: row;
    padding-right: 1.75rem;
    align-items: center;
    justify-content: space-between;
    height: 6.25rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    margin-bottom: 3.125rem;
}
.webinar-card img{
    margin-left: 1.75rem;
    margin-right: .9375rem;
    width: 4.4375rem;
    height: 4.4375rem;
    border-radius: .5625rem;
}
.webinar-card h3{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5625rem;
    letter-spacing: .1rem;
    display: inline;
}
.webinar-card p{
    font-size: .875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .0437rem;
    padding: 5px;
}
.sectionCommFour h2{
    margin-top: 3.4375rem;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: .1437rem;
    padding-top: 3.125rem;
}
.sectionCommFour h2 span{
        margin-top: 3.4375rem;
        font-size: 2.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: .1437rem;
}
.sectionCommFour input{
    margin-top: 4.375rem;
    border: 4px solid #6D8B74;
    height: 3.375rem;
    border-radius: 2.875rem;
    margin-bottom: 3.125rem;
}
.email-input{
    width: 30rem;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: .075rem;
    text-indent: 1.875rem;
    box-shadow: 0rem .25rem .25rem 0rem #898989;
}
.send-input{
    position: absolute;
    right: 2px;
    width: 7.5rem;
    border: none;
    background-color: #6D8B74;
    box-shadow: 0rem .25rem .25rem 0rem #898989;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .075rem;
    text-align: center;
}
}

@media(max-width: 320px){
    .welcomComm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 1.625rem;
        padding-left: 1.625rem;
        margin-bottom: 1.875rem;
    }
    .sectionCommOne{
        margin-top: 1.25rem;
    }
    .sectionCommOne h1{
        margin-top: 1.875rem;
        margin-bottom: .125rem;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; 
        letter-spacing: .0875rem;
    }
    .sectionCommOne h1 span{
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; 
        letter-spacing: .0875rem;
    }
    .sectionCommOne img{
        height: 100%;
        width: 16.875rem;
    }
    .search-bar input{
        font-weight: 400;
        font-size: 1rem;
        padding-left: 20px;
        font-size: .875rem;
        border: 3px solid #6D8B74;
        text-indent: 1rem;
        width: 15.5rem;
        height: 2.3125rem;
        border-radius: 2rem;
    }
    .search-bar img{
        width: .75rem;
        height: .75rem;
        position: absolute;
        left: 20px;
        top: 12px;
    }
    .sectionCommTwo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 19.0625rem);
    grid-template-areas:
    "blog-card1" 
    "blog-card2"
    "blog-card3" 
    "blog-card4"
    "blog-card5" 
    "blog-card6"
    ;
    row-gap: 0;
    margin-top: 3.125rem;
    padding-left: 1.25rem;    
    padding-right: 1.25rem;
}
.blog-card img{
    width: 16.875rem;
}
.blog-card-content{
    margin-top: .9375rem;
    display: flex;
    justify-content: center;
}
.blog-card-content img{
    width: 3.4375rem;
}
.blog-card-content p{
    font-size: .875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; 
    letter-spacing: .0437rem;
}

.sectionCommThree h2{
    padding-top: 4.375rem;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.875rem; 
    letter-spacing: .0875rem;
}
.webinar{
    margin-top: .625rem;
    padding-bottom: 2.5rem;
}
.webinar-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    height: 17.0625rem;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
    margin-bottom: 2.5rem;
}
.webinar-card img{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: .5625rem;
}
.webinar-card h3{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5625rem;
    letter-spacing: .1rem;
    display: block;
}
.webinar-card p{
    text-align: center;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .0437rem;
    padding: 5px;
}
.sectionCommFour h2{
    margin-top: 1.25rem;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.375rem;
    letter-spacing: .0875rem;
}
.sectionCommFour h2 span{
    margin-top: 1.25rem;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.375rem;
    letter-spacing: .0875rem;
}
.sectionCommFour input{
    margin-top: 2.8125rem;
    border: 3px solid #6D8B74;
    height: 2.3125rem;
    border-radius: 1.875rem;
    margin-bottom: 2.5rem;
}
.email-input{
    width: 15.5rem;
    margin-left: 0;
    color: #666;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: .05rem;
    text-indent: 1.125rem;
    box-shadow: 0rem .25rem .25rem 0rem #898989;
}
.send-input{
    position: absolute;
    right: 1px;
    width: 4.75rem;
    border: none;
    background-color: #6D8B74;
    box-shadow: 0rem .25rem .25rem 0rem #898989;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .05rem;
    text-align: center;
}
}



/**Solutions**/

.sectionSolOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFEAD8;
    text-align: center;
}
.sectionSolOne h1{
    padding-top: 6.25rem;
    margin-bottom: 1.4375rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #4B594D;
}
.sectionSolOne h1 span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #6D8B74;
}
.sectionSolOne p{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: #4B594D;
    letter-spacing: .125rem;
}
.sectionSolOne button{
    background-color: #6D8B74;
    padding: .75rem 2.1875rem;
    margin: 4rem;
    border: none;
    border-radius: 3.75rem;
    box-shadow: 0rem .25rem .25rem 0rem rgba(0, 0, 0, 0.25);
}
.sectionSolOne button:hover{
    background-color: #4B594D;
}
.sectionSolOne button a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .125rem;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}
.sectionSolTwo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FFFEFB;
}
.sectionSolTwo h2{
    text-align: left;
    padding-top: 6.5625rem;
    padding-left: 7.8125rem;
    color: #4B594D;
    font-family: 'Lato', sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .1875rem;
}
.sectionSolTwo p{
    width: 32.75rem;
    padding-top: 3.125rem;
    color: #4B594D;
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: .0625rem;
    text-indent: 0;
}
.sectionSolTwo img{
    height: 29.25rem;
    padding-top: 6.5625rem;
    margin-bottom: 6.8125rem;
}
.sectionSolThree{
    height: 66.5rem;
    background-color: #EFEAD8;
}
.cardSolNumber{
    width: 13.1875rem;
    height: 13.1875rem;
    position: absolute;
    left: -100px;
    background-color: #364037;
    border-radius: 6.5938rem;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .3rem;
    text-align: center;
    text-indent: 0;
    padding-top: 5.7813rem
}
.cardSolOne{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 25rem;
    margin-right: 7.5rem;
    margin-left: 14.375rem;
    padding-bottom: 5rem;
    padding-top: 6.8125rem;
}
.cardSolTwo{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 18.1875rem;
    margin-right: 7.5rem;
    margin-left: 14.375rem;
    padding-bottom: 5rem;
}
.cardSolThree{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 18.1875rem;
    margin-right: 7.5rem;
    margin-left: 14.375rem;
    padding-bottom: 5rem;
}
.cardSolContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 68.625rem;
    height: 100%;
    border-radius: .625rem;
    background-color: #6D8B74;
}
.cardSolContent h3{
    padding-bottom: 1.25rem;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    padding-left: 9.375rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .1rem;
}
.cardSolContent p{
    padding-left: 9.375rem;
    padding-right: .9375rem;
    color: #FFFEFB;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: .0625rem;
}
.sectionSolFour{
    width: 100%;
    height: 43.125rem;
    background-image: url("../assets/img/ipad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/**About Us**/

.sectionAboutOne{
    height: 39.375rem;
    background-image: url("../assets/img/backgoundaboutus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sectionAboutOne h1{
    padding-top: 6.25rem;
    padding-right: 7.5rem;
    margin-bottom: 1.4375rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    line-height: 3.125rem;
    font-size: 3.75rem;
    color: #4B594D;
    text-align: right;
    text-indent: 0;
}
.sectionAboutOne h1 span{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: .1875rem;
    font-size: 3.75rem;
    color: #6D8B74;
}
.sectionAboutTwo{
    display: grid;
    grid-template-columns: repeat(2 50%);
    grid-template-rows: repeat(2 50%);
    grid-template-areas:
    "aboutPlantLife aboutPlantLifeImage"
    "aboutImages aboutUs"
    ;
    padding-top: 9.375rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    background-color: #364037;
}
.aboutPlantLife{
    margin-bottom: 7.5rem;
}
.aboutPlantLife h2{
    color: #EFEAD8;
    font-family: 'Lato', sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 2.1875rem;
    letter-spacing: .1875rem;
}
.aboutPlantLife p{
    padding-top: 3.75rem;
    width: 28.75rem;
    color: #EFEAD8;
    font-family:'Merriweather', serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1875rem;
    letter-spacing: .0625rem;
    text-indent: 0;
}
.aboutPlantLifeImage img{
    margin-bottom: 3.125rem;
    height: 25.125rem;
}

.aboutUs h2{
    text-align: center;
    color: #EFEAD8;
    font-family: 'Lato', sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: .1875rem;
    text-indent: 0;

}
.aboutUs p{
    text-align: right;
    padding-top: 3.75rem;
    width: 37.8125rem;
    color: #EFEAD8;
    font-family:'Merriweather', serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1875rem;
    letter-spacing: .0625rem;
    text-indent: 0;
    margin-bottom: 7.5rem;
}
.sectionAboutTwo img{
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.lilyImage{
    width: 26.875rem;
    margin-bottom: 3.125rem;
}
.plantAbout{
    width: 26.875rem;
}

@media(max-width: 768px){
    .sectionAboutOne{
        height: 31.25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }
    .sectionAboutOne h1{
        padding-right: 3.125rem;
        font-size: 2.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.125rem;
        letter-spacing: .1437rem;
    }
    .sectionAboutOne h1 span{
        font-size: 2.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.125rem;
        letter-spacing: .1437rem;
    }
    .sectionAboutTwo{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 21.875rem 30.875rem 61.25rem 23.5rem;
        grid-template-areas:
        "aboutPlantLife" 
        "aboutPlantLifeImage"
        "aboutUs"
        "aboutImages"
        ;
        padding-top: 5rem;
        justify-content: center;
    }
    .aboutPlantLife{
        grid-area: aboutPlantLife;
    }
    .aboutPlantLifeImage{
        display: flex;
        justify-content: center;
        grid-area: aboutPlantLifeImage;
        margin-bottom: 3.125rem;
        margin-top: 1.25rem;
    }
    .aboutUs{
        grid-area: aboutUs;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .aboutImages{
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-area: aboutImages;
        justify-content: space-evenly;
        margin-bottom: 5rem;
    }
    .aboutPlantLife h2{
        font-size: 3rem;
        font-weight: 700;
        line-height: 2.1875rem;
        letter-spacing: .15rem;
        text-align: center;
    }
    .aboutPlantLife p{
        padding-top: 3.75rem;
        width: 40.25rem;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 2.1875rem; 
        letter-spacing: .0625rem;
    }
    .aboutUs h2{
        text-align: center;
        font-size: 3.75rem;
        font-weight: 700;
        letter-spacing: .1875rem;
        text-indent: 0;
    }
    .aboutUs p{
        text-align: center;
        padding-top: 3.75rem;
        width: 37.8125rem;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.1875rem;
        letter-spacing: .0625rem;
        text-indent: 0;
        margin-bottom: 7.5rem;
    }
    .sectionAboutTwo img{
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .lilyImage{
        margin-bottom: 3.125rem;
        width: 18.4375rem;
    }
    .plantAbout{
        width: 18.4375rem;
        margin-bottom: 3.125rem;
    }
}


@media(max-width: 320px){
    .sectionAboutOne{
        height: 17.4375rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:0px 0px;
    }
    .sectionAboutOne h1{
        padding-right: 1.25rem;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.75rem;
        letter-spacing: .075rem;
    }
    .sectionAboutOne h1 span{
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.75rem;
        letter-spacing: .075rem;
    }
    .sectionAboutTwo{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "aboutPlantLife" 
        "aboutPlantLifeImage"
        "aboutUs"
        "aboutImages"
        ;
        padding-top: 3.125rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        justify-content: center;
        align-items: center;
    }
    .aboutPlantLife{
        grid-area: aboutPlantLife;
        margin-bottom: 2.25rem;
    }
    .aboutPlantLifeImage{
        display: flex;
        justify-content: center;
        grid-area: aboutPlantLifeImage;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
    }
    .aboutPlantLifeImage img{
        max-width: 100%;
        height: 11.25rem;
    }
    .aboutUs{
        grid-area: aboutUs;
    }
    .aboutImages{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: aboutImages;
        justify-content: space-evenly;
    }
    .aboutPlantLife h2{
        font-family: Lato;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.1875rem;
        letter-spacing: .075rem;
        text-align: center;
    }
    .aboutPlantLife p{
        padding-top: .3125rem;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5625rem;
        letter-spacing: .05rem;
        width: 16.875rem;
        margin-bottom: 1.5625rem;
    }
    .aboutUs h2{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: .1875rem;
        text-indent: 0;
    }
    .aboutUs p{
        width: 16.875rem;
        text-align: center;
        padding-top: 3.75rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.875rem;
        letter-spacing: .05rem;
    }
    .sectionAboutTwo img{
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .lilyImage{
        margin-bottom: 3.125rem;
        width: 11.625rem;
    }
    .plantAbout{
        width: 11.625rem;
        margin-bottom: 3.125rem;
    }
}

/**Footer**/

footer{
    background-color: #FFFEFB;
    padding-top: 3.4375rem;
    padding-left: 7.5rem;
}
.pagesFooter{
    display: flex;
    justify-content: center;
}
.solutions-footer{
    list-style: none;
    line-height: 1.875rem;
    margin-right: 3.125rem;
}
.guides-footer{
    list-style: none;
    line-height: 1.875rem;
    margin-right: 3.125rem;
}
.community-footer{
    list-style: none;
    line-height: 1.875rem;
}
footer a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color:#364037
}
footer a:hover{
    color: #6D8B74;
    font-weight: 900;
}
footer a .logo-footer{
    width: 12.8125rem;
}
footer p{
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color:#364037
}
.social-media{
    display: flex;
    justify-content: flex-end;
    margin-right: 7.5rem;
    padding-bottom: 3.125rem;
}

.social-media img{
    width: 2.5625rem;
}

.ig{
    margin-right: 1.25rem;
}


@media(max-width: 768px){
    footer{
        padding-top: 6.25rem;
        padding-left: 1.5625rem;
    }
    footer a{
        text-decoration: none;
        font-size: 1.25rem;
    }
    footer a .logo-footer{
        width: 7.5rem;
    }
    footer p{
        text-decoration: none;
        font-size: 1rem;
        color:#364037
    }
    .social-media{
        margin-right: 3.125rem;
        padding-bottom: 3.125rem;
    }
    .social-media img{
        width: 2rem;
    }
    .ig{
        margin-right: .9375rem;
    }
    .solutions-footer{
        line-height: 1.875rem;
        margin-right: 1.25rem;
    }
    .guides-footer{
        line-height: 1.875rem;
        margin-right: .625rem;
    }
    .community-footer{
        line-height: 1.875rem;
}
}


@media(max-width: 320px){
    footer{
        padding-top: 2.5rem;
        padding-left: 1.5625rem;
    }
    footer a{
        text-decoration: none;
        font-size: 1rem;
    }
    footer a .logo-footer{
        width: 6.25rem;
        margin-bottom: 1.25rem;
    }
    footer p{
        text-decoration: none;
        font-size: .875rem;
        color:#364037
    }
    .solutions-footer{
        list-style: none;
        line-height: .625rem;
        margin-right: 3.125rem;
    }
    .guides-footer{
        list-style: none;
        line-height: .625rem;
        margin-right: 3.125rem;
    }
    .community-footer{
        list-style: none;
        line-height: .625rem;
    }
    .social-media{
        margin-right: 1.5625rem;
        padding-bottom: 3.125rem;
    }
    .social-media img{
        width: 1.5625rem;
    }
    .ig{
        margin-right: .9375rem;
    }
    .pagesFooter{
        display: flex;
        flex-direction: column;
    }
    .solutions-footer{
        flex-wrap: wrap;
        line-height: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }
    .guides-footer{
        flex-wrap: wrap;
        line-height: 1.25rem;
        margin-right: .625rem;
        margin-bottom: 1.25rem;
    }
    .community-footer{
        flex-wrap: wrap;
        line-height: 1.25rem;
}
}